@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

:root {
    --primary: #eac67a;
    --secondary: #f4a261;
    --text: #1a120b;
  }
::placeholder{
    color:rgba(0, 0, 0, 0.568);
    text-align:center;
    font-style: italic;
}
  .formB {
    max-width: 1000px; 
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px; 
    background: #efefbb;
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  .h1 {
    color: var(--text);
    font-weight: bold;  
  }
  
  .input {
    width: 50%;
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    color: var(--text);
  }
  
  .nombreDiv {
    margin: 20px 0; 
  }
  .input, .select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    color: var(--text);
  }
  
  button {
    background-color: var(--secondary);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .errorN{
    width: auto;
    background-color: #f02d2d;
  color: #fff;
  padding: 1px;
  border-radius: 5px;
  margin-top: 10px;

  }